[diff]
	tool = vimdiff
[user]
	name = Angelo92Git
	email = 52296518+Angelo92Git@users.noreply.github.com
[color]
	ui = auto
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
